<header *ngIf="fg as fg"
        class="mat-elevation-z3">
    <div class="grid-setup"
         [formGroup]="fg">
        <mat-form-field appearance="fill">
            <mat-label>Cols</mat-label>
            <input type="number"
                   matInput
                   [min]="minCols"
                   [max]="maxCols"
                   [formControl]="fg.controls.x">
            <span matPrefix>[{{minCols}}, {{maxCols}}]</span>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Rows</mat-label>
            <input type="number"
                   matInput
                   [min]="minRows"
                   [max]="maxRows"
                   [formControl]="fg.controls.y">
            <span matPrefix>[{{minRows}}, {{maxRows}}]</span>
        </mat-form-field>
    </div>
    <div class="action">
        <button mat-flat-button
                color="accent"
                (click)="handleClickNegate()"
                [disabled]="isAutoRunActive">
            Negate
        </button>

        <button mat-flat-button
                color="warn"
                (click)="handleClickReset()"
                [disabled]="isAutoRunActive">
            Reset
        </button>

        <button mat-flat-button
                color="primary"
                (click)="handleClickSetNextState()"
                [disabled]="isAutoRunActive || fg.invalid">
            Next
        </button>
    </div>
</header>

<div *ngIf="grid$ | async as grid"
     class="grid"
     [ngClass]="{'autorun': isAutoRunActive}">
    <div *ngFor="let collCol of grid.cells; let y=index;"
         class="row">
        <div *ngFor="let cellState of collCol; let x=index;"
             class="col cell"
             (click)="handleClickToggleCell(grid, x, y)"
             [ngClass]="{'alive': cellState}">
        </div>
    </div>
</div>

<footer class="mat-elevation-z3">
    <div class="auto-run">
        <mat-checkbox color="primary"
                      [(ngModel)]="isAutoRunActive">Auto Run
        </mat-checkbox>
    </div>
</footer>
