$grid-border-color: #ccc;
$header-height: 52px;
$footer-height: $header-height;

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header, footer {
    display: flex;
    overflow: hidden;
}

header {
    flex: 0 0 $header-height;
    height: $header-height;
    max-height: $header-height;
    background-color: #333;

    .grid-setup {
        flex: 1 1 auto;
        display: flex;
        height: $header-height;

        mat-form-field {
            background: #fff;
            width: 125px;

            input {
                text-align: right;
            }

            ::ng-deep {
                .mat-form-field-prefix {
                    color: #999;
                }
            }
        }

        button {
            height: 100%;
            border-radius: 0;
        }
    }

    .action {
        flex: 0 0 auto;
        margin-left: auto;
        background-color: white;

        button {
            height: 100%;
            border-radius: 0;
        }
    }
}

footer {
    flex: 0 0 $footer-height;
    height: $footer-height;
    max-height: $footer-height;

    .auto-run {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}

.grid {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .row {
        flex: 1 1 0;
        display: flex;

        .col {
            flex: 1 1 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cell {
            // https://stackoverflow.com/a/28807765
            box-shadow: 1px 0 0 0 $grid-border-color,
            0 1px 0 0 $grid-border-color,
            1px 1px 0 0 $grid-border-color,
            1px 0 0 0 $grid-border-color inset,
            0 1px 0 0 $grid-border-color inset;
            background: white;

            &.alive {
                background: rgba(91, 169, 64, 0.73);
            }
        }
    }

    &:not(.autorun) {
        .cell {
            &:hover {
                cursor: pointer;
                background: rgba(91, 169, 64, 0.73);
            }

            &.alive {
                &:hover {
                    background: rgba(91, 169, 64, 0.5);
                }
            }
        }
    }
}
